/* Στυλ για κινητές συσκευές */
  .container {  
    display: grid;
    grid-template-rows: 70px 100%;
    grid-template-columns: 100%;
    grid-template-areas:
    "Header"
    "Text";}

    .Text { 
      grid-area: Text;  
      color: rgb(0, 0, 0);
      margin-right: 5%;
      margin-left: 5%;
      border-radius: 20px;
      rgba(52, 10, 135, 0.18);
  }
     


.Header a{ 
  color: white;
  font-size: 50px;
}
