body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-image: url("../files/bg.jpg");
    font-family: "Arial";
    background-size: cover;
    background-attachment: fixed; /* Κάνει την εικόνα σταθερή */
    background-repeat: no-repeat; /* Αποτρέπει την επανάληψη της εικόνας */
}
