.card-header{background-color: #343a40;color: white;}

#info {
    text-align: left;
    white-space: normal; /* Επιτρέπει στο κείμενο να τυλίγεται σε πολλές γραμμές */
    word-wrap: break-word; /* Επιτρέπει το σπάσιμο των λέξεων εάν είναι πολύ μεγάλες */
}

.timeline-item {
    position: relative;
    margin: 40px 0; /* Αύξηση περιθωρίου για μεγαλύτερη απόσταση */
}

.timeline-item.left {
    padding-left: 20px; /* Μικρή απόσταση από την αριστερή πλευρά */
}

.timeline-item.right {
    padding-right: 20px; /* Μικρή απόσταση από την δεξιά πλευρά */
}
a{
    color: black;
    text-decoration: none;
}
.timeline-content {
    position: relative;
    background-color: #f8f9fa;
    border-radius: 8px;
    padding: 15px; /* Αυξημένη padding για καλύτερη εμφάνιση */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Ελαφρύ σκίασμα για βάθος */
}

.timeline-icon {
    position: absolute;
    top: 10px;
    width: 40px;
    height: 40px;
    color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px; /* Μέγεθος εικονιδίου */
}

.timeline-item.right .timeline-icon {
    left: auto;
    right: -30px; /* Μειωμένη απόσταση από την δεξιά πλευρά για την δεξιά κατηγορία */
}

.badge {
    font-size: 14px;
    margin-bottom: 10px; /* Απόσταση κάτω από την ετικέτα */
}

h3.highlight {
    margin-bottom: 20px;
    font-weight: bold;
    text-align: center;
}