
<!DOCTYPE html>
<html>
<head>
    <script src="https://dimidedou.github.io/js/head.js"></script>
    <script src="https://grcodeclub.gr/js/jquery.js"></script>
    <script src="./js/menu.js"></script>

</head>
<body>
    <div class="container">
        <div id="add_body"></div><script src="https://dimidedou.github.io/js/body.js"></script>
    <div class="Text">
        <h1 style="text-align: center;">GitHub Files</h1>
                        <div  class="search"><input type="text" class="form__field" placeholder="Αναζήτηση" id='searchInput'/></div>
                    </h1><br>
                    <table ID="table" class="style2">
                        <tr><td>ΑΡΧΕΙΟ</td> <td>ΑΝΟΙΓΜΑ</td></tr>
                        <tr><td>List of File Signatures</td><td><a href="https://dimidedou.github.io/system/List_of_File_Signatures/">Link</td></tr>
                    </table>
                    <script src="https://grcodeclub.gr/javascript/search/search_table_row_cells_0.js"></script>
    </div>
    </div>
</body>
</html>
