@media only screen and (max-width: 720px) {
    .hero {
        color: #fff;
        text-align: center;
        padding: 100px 0;
        font-size: 70%;
    }
    .logo{
        padding-top: 10%;
        width: 70%;
    }

    .slider {
        position: relative;
        max-width: 80%;
        margin: auto;
        overflow: hidden;
        height: 700px;
        width: 100%;
        border-radius: 30px;
        box-shadow: 10px 8px 5px rgb(0, 0, 0);
        
    }
    
}


@media only screen and (min-width: 720px) {
    .hero {
        color: #fff;
        text-align: center;
        padding: 100px 0;
        font-size: 30px;
    }

    .logo{
        width: 30%;
    }

    .slider {
        position: relative;
        max-width: 80%;
        margin: auto;
        overflow: hidden;
        height: 500px;
        border-radius: 30px;
        box-shadow: 10px 8px 5px rgb(0, 0, 0);
        
    }
    
    
}
